# Dependencies

node_modules
.pnp
.pnp.js

# Testing

coverage/

# Environment

.env
.env*.local

# Debug

tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript

*.tsbuildinfo

# Miscellanous

.DS_Store
*.pem